-if products.count>0
  %h1 Listing products
-else
  %h1 There aren't any products in this category.
-products.each do |product|
  .panel.panel-default
    .panel-heading
      =link_to product.title, category_product_path(product.category, product)
    .panel-body
      =product.description
    .panel-footer
      Price: 
      =product.price
      .pull-right
        = link_to 'Show', category_product_path(product.category, product)
        -if product.user == current_user
          = link_to 'Edit', edit_category_product_path(product.category, product)
          = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }







